body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: antiquewhite;
}

/* Container */
.container {
  display: flex;

  background-color: antiquewhite;
  width: 95vw;
  height: 95vh;
}

/* Sidebar */
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 15vw;
  height: 95vh;
}

.sidebar {
  margin-top: 80%;
}

/* Reviews, Rating, Sentiment Analysis */
.reviews,
.average-rating,
.sentiment-analysis {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: blueviolet;
  margin-left: 2%;
  width: 25%;
  height: 35%;
}

/* Website Visitors */

.website-visitors {
  display: flex;
  background-color: coral;
  margin-top: 20%;
  margin-left: -79%;
  width: 79%;
  height: 61%;
}

.visitor-count {
  margin-left: 10px;
}
.visitor-count > p {
  margin-left: 50px;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 102, 69);
  margin-left: 15%;
  width: 55rem;
  height: 70%;
}
