body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: antiquewhite;
}

/* Container */
.container {
  display: flex;
  background-color: black;
  width: 95vw;
  height: 95vh;
}

/* Sidebar */
.dashboard {
  display: flex;
  justify-content: center;
  background-color: aqua;
  width: 15vw;
  height: 95vh;
}

.sidebar {
  margin-top: 80%;
}

/* Reviews */
.reviews {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  width: 25%;
  height: 40%;
}

.average-rating {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  width: 25%;
  height: 40%;
}
